.edit-card {
    background-color: var(--darkest);
    border: 1px solid white;
    border-radius: 8px;
    max-width: 350px;
    padding: 30px;
}

.edit-card-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls {
    display: flex;
    align-self: center;
    gap: 10px;
}

.controls > button {
    cursor: pointer;
}

.edit-card-form-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-card-form-header > .profile-picture {
    height: 100px;
    width: 100px;
}