.header-container {
    background-color: #031424;
    padding: 10px;
}

.header-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-li {
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.links > a > img {
    height: 32px;
}

.logo {
    width: 50px;
}

.logo-container {
    grid-column: 2 / span 1;
    margin: auto;
}

.logout-container {
    grid-column: 3 / span 1;
    align-items: center;
    justify-content: flex-end;
}

.logo-container, .logout-container {
    display: flex;
}