.password-reset-container {
    background-color: var(--darkest);
    border: 1px solid white;
    padding: 30px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reset-links {
    color: blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-reset-container > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}