.signin-container {
    display: flex;
    flex-direction: column;
    background-color: var(--darkest);
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    gap: 30px;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.welcome {
    font-size: 50px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signin-form > ul > li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.signin-form > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signin-form-li-element > input{
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
}

.login-btn {
    height: 30px;
    width: 100px;
    background-color: var(--highlights);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    align-self: center;
}

.login-btn:hover {
    cursor: pointer;
    background-color: var(--regular);
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signin-link {
    display: flex;
    gap: 10px;
}

.signin-link > a {
    color: blue;
}